<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>

  <name replace-wildcards="yes">%h</name>

  <service protocol="ipv4">
    <type>_http._tcp</type>
    <subtype>_wftdi._sub._http._tcp</subtype>
    <port>8080</port>
    <txt-record>web ftdi service</txt-record>
  </service>

</service-group>
